
main {
  width: 100%;
}

.login-reg {
  float: right;
}

header {
  padding: .125em 1.25em;
}

article {
  padding: 2.5em 2.5em 6.25em 2.5em;
  text-align: center;
}

article h1.info-header {
  margin-bottom:  1.25em;
}

footer {
  padding: .3125em;
  text-align: center;
}

.image-set {
  background:  -webkit-image-set(url(../img/gabe_1x.png) 1x, url(../img/gabe_2x.png) 2x);
  height: 40px;
  width: 40px;
  border-radius: 50%;
}
